@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EDEJA</h1>
    <p class="lead">Zadatak Edeja</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Edeja</h2>
        <p>Zadatak za junior .NET programera.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pregled svih faktura</h2>
        <p>Pregled svih postojecih faktura</p>
        <p><a class="btn btn-default" href="http://localhost:51446/Fakturas">Lista &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dodaj fakturu</h2>
        <p>Dodaj novu fakturu</p>
        <p><a class="btn btn-default" href="http://localhost:51446/Fakturas/Create">Dodaj &raquo;</a></p>
    </div>
</div>